---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}
        <img src="/img/posts/Profile-pic.jpg" style="display: block; width: 300px; margin-right: auto; margin-left: auto;" />

         I am a Latin American historian and anthropologist. Throughout my professional experience in Venezuela and the U.S. I have gained experience in different lines of work, from research, ethnographic fieldwork, marketing and consulting, event planning, digital humanities, and education.

         I am currently doing my PhD in History at UC Santa Barbara. My research examines the ways people of African descent in early modern Venezuela used civic and religious institutions to position themselves in the colonial society and influence the territorial composition of the region.

        I am also part of [Neogranadina](https://www.neogranadina.org/), a non-profit that specializes in the digitization, processing, and promotion of archival resources from Latin America.

        You can contact me via email:
        andreina@ucsb.edu
        andreina@neogranadina.org

        or follow me in social media:
        Twitter: @SeguNina and @Neogranadina_es
        <!-- Home Post List -->
        <!--{% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }}</p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
